<h1>Dataviews#show</h1>
<table class="table table-hover table-condensed"> <thead>
      <tr>
      	<th>Request Id</th>
        <th>Cook</th>
        <th>customer_id</th>
        <th>customer_name</th>
        <th>address</th>
        <th>starttime</th>
        <th>endtime</th>
        <th>totaltime</th>
        <th>money</th>
        <th>paidbycustomer</th>
        <th>paidbycook</th>
        <th>type</th>
        <th>cook id</th>
        <th>Created At</th>
        <th>Edit</th>
      </tr>
        </thead>
        <tbody> 
          
       <tr>
         <td><%= @dataview.id %></td>
         <td><%= @dataview.cook %></td>
         <td><%=@dataview.customer_id%></td>
         <td><%=@dataview.customer_name%></td>
         <td><%=@dataview.address%></td>
         <td><%=@dataview.starttime%></td>
         <td><%=@dataview.endtime%></td>
         <td><%=@dataview.totaltime%></td>
         <td><%=@dataview.money%></td>
        <td><%=@dataview.paidbycustomer%></td>
         <td><%=@dataview.paidbycook%></td> 
         <td><%=@dataview.typere%></td>
         <td><%=@dataview.spid%></td>
         <td><%=@dataview.created_at.strftime("%b %d. %Y")%></td>
         <td><%= link_to "Edit", {:controller => 'dataviews' , :action => 'edit',:id => @dataview.id}%></td>
      </tr></tbody></table>
 <%= link_to "DateView", dataviews_path %></p>
